*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 20em;
    background-color:rgb(110, 110, 110);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0.25);
   
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
   
}
.card h1,h2,h3,p{
    color: #f8f8f8;
    font-weight: 600;
    line-height: 2em;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}
/* For small and medium devices */
@media(min-width:320px) and (max-width:768px) {
    .card{
        width: 15em;
    }
    
}
